.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
.pytest_cache/
.coverage
htmlcov/
.dist/
build/
dist/
*.egg-info/
.eggs/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
logs/

# Volumes / data
pg_data/
pgadmin_data/
redis_data/

# Python virtualenv
.venv/
venv/
ENV/

# Coverage / test
.tox/
.nox/
.mypy_cache/
.pyre/
.pytype/